[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
migrate = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
psycopg2 = "*"
flask-security = "*"
email-validator = "*"
flask-jwt-extended = "*"
python-dotenv = "*"
flask-admin = "*"

[dev-packages]

[requires]
python_version = "3.8"
